In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
from tqdm import tqdm

In [96]:
# We are using already clean data.!
root_path = Path("./pecan_street_data")

path = root_path / '15minute_data_newyork.csv'

df = pd.read_csv(path)
df.head()

,dataid,local_15min,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,4550,2019-06-24 14:45:00-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,120.625,120.750
1,4550,2019-06-24 14:30:00-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,120.456,120.558
2,4550,2019-06-24 14:15:00-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,120.513,120.629
3,4550,2019-06-24 14:00:00-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,121.567,121.638
4,558,2019-06-24 14:45:00-05,0.081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.390,120.388

In [97]:
# We assume that grid is the power they get from the grid
col = ['dataid', 'local_15min', 'grid']
df_newyork = df[col]
df_newyork

        dataid             local_15min   grid
0         4550  2019-06-24 14:45:00-05  0.110
1         4550  2019-06-24 14:30:00-05  0.169
2         4550  2019-06-24 14:15:00-05  0.122
3         4550  2019-06-24 14:00:00-05  0.159
4          558  2019-06-24 14:45:00-05  0.442
...        ...                     ...    ...
441594    3996  2019-10-31 22:00:00-05  1.428
441595     914  2019-10-31 23:45:00-05  0.360
441596     914  2019-10-31 23:30:00-05  0.548
441597     914  2019-10-31 23:15:00-05  0.539
441598     914  2019-10-31 23:00:00-05  0.341

[441599 rows x 3 columns]

In [98]:
# the data is clean
df_newyork.isna().sum()

dataid         0
local_15min    0
grid           0
dtype: int64

In [99]:
df_newyork.loc[:,'local_15min'] = pd.to_datetime(df_newyork['local_15min'], yearfirst=True)

In [100]:
df_prop = df_newyork.groupby('dataid')['local_15min'].agg(['min', 'max', 'count' ])

# check the reqularity of the data
df_prop ['regular_sample_count'] = (df_prop['max'] - df_prop['min'])
td = pd.Timedelta('15min')
df_prop['regular_sample_count'] = df_prop['regular_sample_count']/td + 1
df_prop['length_diff'] = df_prop['count'] - df_prop['regular_sample_count']
display(df_prop)

print('The data is clean, but dataid27 misses a value!')

,min,max,count,regular_sample_count,length_diff
dataid,,,,,
27,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17663,17664.0,-1.0
142,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
387,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
558,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
914,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
950,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
1222,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
1240,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
1417,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
2096,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
2318,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
2358,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
3000,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
3488,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
3517,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
3700,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
3996,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
4283,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
4550,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
5058,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
5587,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
5679,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
5982,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
5997,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0
9053,2019-05-01 00:00:00-05:00,2019-10-31 23:45:00-05:00,17664,17664.0,0.0

The data is clean, but dataid27 misses a value!

In [101]:

df_pivoted = df_newyork.pivot(values='grid', columns='dataid', index='local_15min')
df_pivoted

dataid,27,142,387,558,914,950,1222,1240,1417,2096,...,3700,3996,4283,4550,5058,5587,5679,5982,5997,9053
local_15min,,,,,,,,,,,,,,,,,,,,,
2019-05-01 00:00:00-05:00,0.997,0.785,0.187,0.716,0.577,1.031,0.159,0.259,0.343,0.765,...,0.377,1.636,0.798,0.360,0.600,0.262,0.380,3.149,0.309,0.763
2019-05-01 00:15:00-05:00,0.750,0.839,0.277,0.830,0.580,3.765,2.879,0.290,0.339,0.704,...,0.649,0.515,0.791,0.268,0.224,0.609,0.315,2.316,0.273,0.795
2019-05-01 00:30:00-05:00,0.608,0.909,0.273,0.460,0.642,0.602,3.291,0.353,0.187,0.681,...,0.467,0.533,0.816,0.241,0.216,0.225,0.166,3.095,0.408,0.762
2019-05-01 00:45:00-05:00,1.057,0.846,0.243,0.485,0.687,2.258,3.432,0.352,0.470,0.760,...,0.370,0.731,0.797,0.290,0.238,0.489,0.155,3.019,0.325,0.813
2019-05-01 01:00:00-05:00,0.518,0.792,0.174,0.822,0.570,6.474,3.548,0.300,0.416,0.762,...,0.317,0.516,0.797,0.214,0.284,0.236,0.155,2.424,0.351,0.780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 22:45:00-05:00,3.971,0.596,0.122,0.599,0.571,0.637,0.188,0.245,0.550,0.251,...,0.483,0.568,0.946,0.699,0.180,0.199,0.669,0.968,0.733,1.197
2019-10-31 23:00:00-05:00,4.301,0.542,0.170,0.393,0.341,0.851,0.160,0.246,0.398,0.339,...,0.479,0.489,1.030,0.768,0.180,0.540,0.727,0.912,0.657,0.803
2019-10-31 23:15:00-05:00,2.591,0.446,0.245,0.387,0.539,2.022,0.167,0.370,0.417,0.208,...,0.948,0.522,1.027,0.487,0.274,0.273,0.650,0.912,0.589,0.836
2019-10-31 23:30:00-05:00,0.548,0.458,0.295,0.658,0.548,3.098,0.130,0.247,0.279,0.211,...,0.480,0.579,0.286,0.163,0.946,0.573,0.786,0.925,0.515,0.787
2019-10-31 23:45:00-05:00,0.736,0.574,0.205,0.387,0.360,0.547,0.162,0.173,0.160,0.349,...,0.769,0.412,0.204,0.180,1.735,0.208,0.782,0.972,0.619,0.779

In [102]:
df_pivoted.isna().sum()

dataid
27      1
142     0
387     0
558     0
914     0
950     0
1222    0
1240    0
1417    0
2096    0
2318    0
2358    0
3000    0
3488    0
3517    0
3700    0
3996    0
4283    0
4550    0
5058    0
5587    0
5679    0
5982    0
5997    0
9053    0
dtype: int64

In [103]:
# # # fill the only missing value with backward fill
df_pivoted = df_pivoted.fillna(method='backfill')

In [104]:

df_pivoted

dataid,27,142,387,558,914,950,1222,1240,1417,2096,...,3700,3996,4283,4550,5058,5587,5679,5982,5997,9053
local_15min,,,,,,,,,,,,,,,,,,,,,
2019-05-01 00:00:00-05:00,0.997,0.785,0.187,0.716,0.577,1.031,0.159,0.259,0.343,0.765,...,0.377,1.636,0.798,0.360,0.600,0.262,0.380,3.149,0.309,0.763
2019-05-01 00:15:00-05:00,0.750,0.839,0.277,0.830,0.580,3.765,2.879,0.290,0.339,0.704,...,0.649,0.515,0.791,0.268,0.224,0.609,0.315,2.316,0.273,0.795
2019-05-01 00:30:00-05:00,0.608,0.909,0.273,0.460,0.642,0.602,3.291,0.353,0.187,0.681,...,0.467,0.533,0.816,0.241,0.216,0.225,0.166,3.095,0.408,0.762
2019-05-01 00:45:00-05:00,1.057,0.846,0.243,0.485,0.687,2.258,3.432,0.352,0.470,0.760,...,0.370,0.731,0.797,0.290,0.238,0.489,0.155,3.019,0.325,0.813
2019-05-01 01:00:00-05:00,0.518,0.792,0.174,0.822,0.570,6.474,3.548,0.300,0.416,0.762,...,0.317,0.516,0.797,0.214,0.284,0.236,0.155,2.424,0.351,0.780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 22:45:00-05:00,3.971,0.596,0.122,0.599,0.571,0.637,0.188,0.245,0.550,0.251,...,0.483,0.568,0.946,0.699,0.180,0.199,0.669,0.968,0.733,1.197
2019-10-31 23:00:00-05:00,4.301,0.542,0.170,0.393,0.341,0.851,0.160,0.246,0.398,0.339,...,0.479,0.489,1.030,0.768,0.180,0.540,0.727,0.912,0.657,0.803
2019-10-31 23:15:00-05:00,2.591,0.446,0.245,0.387,0.539,2.022,0.167,0.370,0.417,0.208,...,0.948,0.522,1.027,0.487,0.274,0.273,0.650,0.912,0.589,0.836
2019-10-31 23:30:00-05:00,0.548,0.458,0.295,0.658,0.548,3.098,0.130,0.247,0.279,0.211,...,0.480,0.579,0.286,0.163,0.946,0.573,0.786,0.925,0.515,0.787
2019-10-31 23:45:00-05:00,0.736,0.574,0.205,0.387,0.360,0.547,0.162,0.173,0.160,0.349,...,0.769,0.412,0.204,0.180,1.735,0.208,0.782,0.972,0.619,0.779

In [105]:

df_resampled = df_pivoted.resample('60min', closed='right').sum() 
df_resampled

dataid,27,142,387,558,914,950,1222,1240,1417,2096,...,3700,3996,4283,4550,5058,5587,5679,5982,5997,9053
local_15min,,,,,,,,,,,,,,,,,,,,,
2019-04-30 23:00:00-05:00,0.997,0.785,0.187,0.716,0.577,1.031,0.159,0.259,0.343,0.765,...,0.377,1.636,0.798,0.360,0.600,0.262,0.380,3.149,0.309,0.763
2019-05-01 00:00:00-05:00,2.933,3.386,0.967,2.597,2.479,13.099,13.150,1.295,1.412,2.907,...,1.803,2.295,3.201,1.013,0.962,1.559,0.791,10.854,1.357,3.150
2019-05-01 01:00:00-05:00,3.749,3.409,0.873,2.760,2.584,12.172,5.365,1.374,1.412,2.882,...,1.500,2.243,3.618,1.009,0.812,1.541,0.781,11.269,1.650,3.317
2019-05-01 02:00:00-05:00,3.405,3.556,1.306,2.514,3.235,12.854,1.768,1.108,1.356,2.930,...,1.459,1.780,3.636,1.227,5.219,7.668,1.170,9.724,1.850,1.563
2019-05-01 03:00:00-05:00,3.261,3.740,1.028,2.901,2.561,9.579,1.360,1.374,1.469,2.956,...,1.515,2.490,3.272,1.070,4.316,3.335,1.671,10.050,2.225,1.616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 19:00:00-05:00,8.062,5.182,1.319,1.119,13.423,12.417,2.880,1.473,2.603,1.417,...,2.608,3.990,5.967,7.222,6.102,2.006,4.485,8.202,2.726,19.537
2019-10-31 20:00:00-05:00,16.631,3.763,1.194,1.843,11.497,10.583,1.814,1.243,3.416,1.163,...,2.758,4.020,7.626,3.138,0.841,2.272,3.809,9.234,2.940,19.639
2019-10-31 21:00:00-05:00,17.308,2.949,1.265,1.208,6.026,6.118,1.989,1.000,3.409,1.063,...,2.298,7.262,3.017,9.281,0.840,1.932,3.311,3.983,5.321,13.528
2019-10-31 22:00:00-05:00,16.477,2.270,0.547,1.652,1.876,6.614,0.771,1.082,1.766,1.079,...,2.299,2.756,2.740,2.416,0.719,1.680,2.832,3.906,3.202,3.768
2019-10-31 23:00:00-05:00,3.875,1.478,0.745,1.432,1.447,5.667,0.459,0.790,0.856,0.768,...,2.197,1.513,1.517,0.830,2.955,1.054,2.218,2.809,1.723,2.402

In [ ]:
# probably we need to drop the first row!